@page
@model Etherna.CreditSystem.Areas.Manage.Pages.LogsModel
@{
    ViewData["Title"] = "Operation logs";
    ViewData["ActivePage"] = ManageNavPages.Logs;

    var pageSelectorModel = new PageSelectorModel(Model.CurrentPage, Model.MaxPage);
}

<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-6">
        @foreach (var log in Model.Logs)
        {
            <div class="border-top">
                <p>
                    @switch (log)
                    {
                        case UpdateOperationLog update:
                            <span><b>@log.OperationName</b> - @log.CreationDateTime.Date.ToShortDateString()</span><br />
                            <span>@update.Reason</span><br />
                            break;
                        default:
                            <span><b>@log.OperationName</b> - @log.CreationDateTime</span><br />
                            break;
                    }
                    <span>@log.Amount.ToFinancialString(
                         allowedDecimals: null,
                         prefixSymbol: "$",
                         usePlusSign: true)</span>
                </p>
            </div>
        }

        <partial name="_PageSelector" model="pageSelectorModel" />
    </div>
</div>